<template>
  <div>
    <div v-if="players && players.length">
      <h1 class="display-1 text-center">NBA Players</h1>
      <v-autocomplete
        label="Select a Player"
        :items="players.map((p) => p.full_name)"
        @change="navToPlayer"
      ></v-autocomplete>
    </div>
    <div v-else-if="!error && !players" class="text-center">
      <v-progress-circular size="400" indeterminate color="blue darken-3"></v-progress-circular>
    </div>
    <ErrorMessage v-if="error" message="Error fetching NBA players! Check backend!" />
  </div>
</template>

<script>
import config from "@/config";
import ErrorMessage from "@/components/ErrorMessage.vue";
export default {
  name: "Players",
  components: {
    ErrorMessage
  },
  data() {
    return {
      players: null,
      error: false
    };
  },
  methods: {
    navToPlayer(player) {
      const getPlayer = this.players.find(p => p.full_name === player);
      this.$router.push(`/detail/${getPlayer.id}`);
    }
  },
  async mounted() {
    try {
      const req = await fetch(config.API + "players/all");
      const data = await req.json();

      this.players = data;
    } catch (e) {
      this.error = true;
    }
  }
};
</script>