<template>
  <v-footer app class="blue darken-3">
    <v-list class="d-flex justify-space-around blue darken-3">
      <v-list-item height="100%">
        <v-list-item-content>
          <v-list-item-title class="subtitle-1 white--text">Xavier Munroe</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item href target="_blank" to="//gitlab.com/XavierTheCodesmith" height="100%">
        <v-list-item-content>
          <v-list-item-title class="subtitle-1 white--text">GitLab</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-footer>
</template>